/* Write your CSS here */
.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e293b;
  font-family: 'Bree Serif';
}
h1 {
  color: #f0bb03;
}
button {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  border: 0px;
}
p {
  color: white;
}
